* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    max-width: 1400px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 20px;
}

.separador {
    width: 60px; 
    height: 3px;
    background: white;
}

.botao {
    text-decoration: none;
    color: #FEC63E;
    padding: 12px 21px;
    border: 3px solid #FEC63E;
    font-weight: 600;
}

.botao:hover {
    background: #FEC63E;
    color: white;
    border: 3px solid #FEC63E;
    transition: 0.4s;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    background: #FEC63E;
    padding: 9px 230px;
}

#cabecalho ul {
    display: flex;
    align-items: center;
    justify-content: right;
    list-style: none;
}

#cabecalho ul li {
    margin-left: 20px;
    font-weight: 600;
}

#cabecalho ul li a:hover {
    color: #484B4D;
}

#cabecalho a {
    text-decoration: none;
    color: black;
}

#introducao {
    height: 160px;
    background: url("/imagens/esporte-1.jpg") no-repeat;
    background-size: cover;
    background-position: 0 -450px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#introducao .separador {
    margin: 15px 0;
    background: white;
}

#produto {
    padding: 50px 230px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#produto .item-produto {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

#produto .titulo {
    width: 589px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#produto .item-produto:nth-child(1) .titulo{
    background: url("/imagens/passeio-1.jpg") no-repeat;
    background-size: cover;
    background-position: 0 -100px;
}

#produto .item-produto:nth-child(2) .titulo{
    background: url("/imagens/esporte-4.jpg") no-repeat;
    background-size: cover;
    background-position: 0 -75px;
}

#produto .item-produto:nth-child(3) .titulo{
    background: url("/imagens/retro-2.jpg") no-repeat;
    background-size: cover;
    background-position: 0 -150px;
}

#produto .separador {
    margin: 5px 0;
}

#produto .logo {
    width: 280px;
    height: 280px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#produto .foto {
    width: 435px;
    height: 280px;
}

#produto .item-produto:nth-child(1) .foto{
    background: url("/imagens/passeio-4.jpg") no-repeat;
    background-size: 250%;
    background-position: -150px -380px;
}

#produto .item-produto:nth-child(2) .foto{
    background: url("/imagens/esporte-2.jpg") no-repeat;
    background-size: cover;
}

#produto .item-produto:nth-child(3) .foto{
    background: url("/imagens/retro-3.jpg") no-repeat;
    background-size: 150%;
    background-position: 0px -180px;
}

#produto .info {
    width: 434px;
    height: 280px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#produto .info h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    text-align: center;
    color: white;
}

#produto .qualidade-info {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
    margin-top: 48px;
}

#produto .qualidade-info h4 {
    width: 216px;
    height: 50px;
    background: #FEC63E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#orcamento {
    padding: 50px 230px;
    background: black;
    color: #FEC63E;
}

#orcamento h3 {
    text-align: center;
}

#orcamento .separador {
    margin: 5px auto 20px;
    background: #FEC63E;
}

#orcamento .enviar-infos {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 100px;
    color: white;
}

#orcamento .enviar-infos h4 {
    margin-bottom: 5px;
}

#orcamento .fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

#orcamento .field {
    background: black;
    border: 2px solid #FEC63E;
    width: 400px;
    height: 40px;
    margin-bottom: 15px;
    color: white;
    font-size: 24px;
}

#orcamento .mensagem {
    height: 120px;
    margin-bottom: 30px;
    resize: none;
}

#orcamento .info {
    width: 340px;
}

#orcamento .info h4 {
    color: #FEC63E;
    margin-bottom: 20px;
}

#orcamento .info h5 {
    line-height: 25px;
}

#orcamento .dados {
    margin-bottom: 50px;
}

#orcamento .monte h5 {
    padding: 5px;
}

#orcamento .cinza {
    background: #292929;
}

#quote {
    height: 250px;
    background: url("/imagens/esporte-3.jpg") no-repeat;
    background-size: cover;
    background-position: center -400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    z-index: -2;
}

#quote .filtro { 
    width: 100%;
    height: 100%;  
    background-color: black;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
}

#quote div.separador {
    margin: 15px 0;
    background: white;
}

#footer {
    background: black;
    color: #FEC63E;
}

#footer > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 230px;
}

#footer .separador {
    background: #FEC63E;
    margin: 5px 0 15px;
}

#footer h5 {
    color: white;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

#links .social {
    border: 2px solid #FEC63E;
    padding: 7.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright {
    background: #FEC63E;
}

#copyright h5{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}